<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/users/create" method="POST">
        <label for="">First Name</label>
        <br>
        <input name="first_name">
        <label for="">Last Name</label>
        <br>
        <input type="text">
        <label for="">Email</label>
        <br>
        <input name="email">
        <label for="">Password</label>
        <input type="password" name="password">
    </form>
</body>
</html>