<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- linking a css style sheet -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my_style.css') }}">
<!-- linking a javascript file -->
<script type="text/javascript" src="{{ url_for('static', filename='my_script.js') }}" defer></script>
    <title>Test</title>
</head>
<body>
    <h1 class="wel">Welcome !!!</h1>
    <div class="container">
        {% for i in range(x) %}
        <div class="one" style="background-color: {{color}};" ></div>
        {% endfor %}
    </div>
    

</body>
</html>